* {
  margin: 20;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Helvetica;
}

img {
height:150px;
width:150px;
border: 3px solid black;
margin-left: 500px;
}
.Head2{
  font-size: 75px
}
.Head1{
  font-size: 75px
}
.Head3{
  font-size: 75px
}


pics {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  /* flex-wrap: wrap;
    justify-content: center;
    object-fit: cover;
    .flex-container {
    display: flex;
    flex-direction: row;
    height:100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 3px solid black;
    margin: 5px;
} */
}
 body{
  animation: 10000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: Turquoise;
  }
  20% {
    background-color: yellow;
  }
  40% {
    background-color: cyan;
  }
  60% {
    background-color: violet;
  }
  80% {
    background-color: DeepSkyBlue;
  }
  100% {
    background-color: DeepPink ;
  }
}

.facts{
  border:solid black;

}

 h1 {
   text-align: center;
   font-size: 50px;
 }
 h2 {
  text-align: left;
 }
 li{
  font-size: 20px;
 }
 h3 {
   text-align: right;
   font-size: 30px;
 }
 /* li1 {
   text-align: right;
 } */
 div.d  {
 font-size: 75px;
 text-align: center;
 }

 /* .dots {
  border:solid black;
   /* / display: inline-block; / */





/* span{
  text-align: center;
} */

 .a{
   margin-left: 100px;

 }

 h2 {
   font-size: 120%;
   margin-bottom: 10px;
 }

 div.f{
   font-size: 75px;
   text-align: center;
 }

 /* .name-card {
   margin: 0 auto;
   margin-bottom: 10px;
   padding: 8px;
   width: 300px;
   background: #fff;
 } */

 /* .dot {
   height: 250px;
   width: 250px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   position: absolute;
   top: 25%;
   left: 0%;
 } */
